.app {
  max-width: 600px;
  margin: 16px auto;
  padding: 30px 20px 30px 50px;
  border: 1.2px solid #bbe1f0;
  border-radius: 5px;
  background: linear-gradient(#bbe1f0, white);
}
html {
  display: flex;
  justify-content: center;
}

html,
body {
  margin-top: 40px;
}

.temperatureactuelle {
  font-size: 30px;
  text-align: center;
}
.degrees {
  font-size: 10px;
  position: relative;
  bottom: 10px;
}
.slash {
  font-size: 9px;
  position: relative;
  bottom: 10px;
}

.emot {
  font-size: 38px;
  text-align: center;
}

.col-1 {
  font-size: 20px;
  padding: 5px 2px;
}
.col-2 {
  border: 0.5px solid #bbe1f0;
  margin: 2px;
  padding: auto;
  text-align: center;
  border-radius: 5px;
}

.jour {
  font-weight: bold;
}
.emoji {
  font-size: 30px;
}
.temperature {
  font-size: 11px;
}

.notes {
  border-left: 1px solid #ec6e4c;
  height: 46%;
  position: relative;
  right: 10px;
  padding: 10px 10px 20px 10px;
  font-size: 14px;
  color: rgb(146, 141, 141);
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}

.jourheure {
  font-weight: lighter;
  font-size: 26px;
}

.ville {
  font-weight: bolder;
  font-size: 23px;
  text-transform: capitalize;
}

.villejourheure {
  margin-bottom: 20px;
}
.weather-forecast {
  font-size: 12px;
}
.source {
  margin-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 11px;
}
